/build/classes/java/main/com/example/demo/AppShell.class
/build/classes/java/main/com/example/demo/DemoApplication.class
/build/classes/java/main/com/example/demo/GreetService.class
/build/classes/java/main/com/example/demo/MainView.class
/build/resources/main/META-INF/VAADIN/config/flow-build-info.json
/build/resources/main/application.properties
/build/tmp/compileJava/previous-compilation-data.bin
/build/sw.ts
/build/vaadin-dev-server-settings.json
/build/vaadin-generated/META-INF/VAADIN/config/flow-build-info.json
